<div class="col-md-12" ng-controller="TransactionCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left form-inline">
                <button class="btn btn-success pull-left" ng-click="onAdd()">
                    <i class="fa fa-plus-square"></i>
                    Add
               
                </button>
            </div>
        </div>
        <div search-pagination-header search-query="searchQuery" on-search-function="fetchData()"></div>
    </div>
    <div class="row">
        <table class="datatable table table-striped table-bordered data-grid" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="action-button"></th>
                    <th style="width: 10%;">Ref.</th>
                    <th>Date</th>
                    <th>Remarks</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="transactions.length <= 0">
                    <td colspan="7">No data.</td>
                </tr>
                <tr ng-show="transactions.length > 0" ng-repeat="tr in transactions">
                    <td class="action-button">
                        <span ng-click="onEdit(tr)" class="btn btn-info btn-sm btn-condensed">
                            <i class="fa fa-pencil-square-o"></i>
                            Edit
                        </span>
                        <span ng-click="onDelete(tr)" class="btn btn-danger btn-sm btn-condensed">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </span>
                    </td>
                    <td>{{tr.TransactionCode}}</td>
                    <td>{{displayDate(tr.TransactionDate)}}</td>
                    <td>{{tr.Remarks}}</td>
                    <td>{{types[tr.Type]}}</td>
                    <td>{{formatMoney(tr.Value,2)}}</td>
                </tr>
            </tbody>
            <tfoot ng-show="transactions.length > 0">
                <tr>
                    <th colspan="7">
                        <uib-pagination total-items="searchQuery.TotalData" items-per-page="searchQuery.DataPerPage" ng-model="searchQuery.Page" ng-change="fetchData()"
                            max-size="10" class="pull-right pagination-sm" boundary-link-numbers="true"></uib-pagination>
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>

</div>
