<div class="col-md-12" ng-controller="ItemListCtrl">
<div class="row">
    <div class="col-md-6">
        <div class="pull-left form-inline">
            <button class="btn btn-success pull-left" ng-click="onAdd()">
                <i class="fa fa-plus-square"></i>
                Add
            </button>
        </div>
    </div>
    <div search-pagination-header search-query="searchQuery" on-search-function="fetchData()"></div>
</div>
<div class="row">
    <table class="datatable table table-striped table-bordered data-grid" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="action-button"></th>
            <th>SKU/Code</th>
            <th>Name</th>
            <th>Brand</th>
            <th>UOM</th>
            <th>Thickness (mm)</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-show="items.length <= 0">
            <td colspan="7">No data.</td>
        </tr>
        <tr ng-show="items.length > 0" ng-repeat="item in items">
            <td class="action-button">
                <span ng-click="onEdit(item)" class="btn btn-info btn-sm btn-condensed">
                    <i class="fa fa-pencil-square-o"></i>
                    Edit
                </span>
                <span ng-click="onDelete(item)" class="btn btn-danger btn-sm btn-condensed">
                    <i class="fa fa-trash-o"></i>
                    Delete
                </span>
            </td>
            <td>{{item.ItemCode}}</td>
            <td>{{item.ItemName}}</td>
            <td>{{item.Brand.BrandName}}</td>
            <td>{{item.Uom.UomCode}}</td>
            <td>{{item.ItemThickness}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7">
                <uib-pagination total-items="searchQuery.TotalData" items-per-page="searchQuery.DataPerPage" ng-model="searchQuery.Page" ng-change="fetchData()"
                                max-size="10" class="pull-right pagination-sm" boundary-link-numbers="true"></uib-pagination>
            </th>
        </tr>
        </tfoot>
    </table>

</div>

</div>
